<nav id="nav" class="navbar navbar-expand-lg">
	<div class="container">

		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="{{ asset('img/logo-place2go-white.svg') }}" class="logo-sticky" width="150" alt="Place 2 Go" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Accueil">
		</a>

		<button class="navbar-toggler" type="button" id="js-burger" onclick="toggleSidenav()">
			<i class="fas fa-bars" id="js-burger"></i>
		</button>

		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav m-auto">
				<li class="nav-item">
					<a class="nav-link mx-3" href="{{ path('app_category_list') }}">
						Catégories
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-3" href="{{ path('app_event_list') }}">
						Voir les sorties
					</a>
				</li>
				{% if is_granted('USER_ACCESS', app.user) %}
					<li class="nav-item">
						<a class="nav-link mx-3" href="{{ path('app_event_create') }}">
							<i class="fas fa-map-marker-alt"></i>
							Ajouter une sortie
						</a>
					</li>
				{% endif %}
			</ul>

			{% if is_granted('ROLE_USER') %}
				<!-- Authenticated User Menu -->
				<div class="nav-item dropdown bt-login">
					<a href="#" class="nav-link dropdown-toggle py-1 d-flex align-items-center" id="connectedDropdown" data-mdb-toggle="dropdown" aria-expanded="false">
						<span class="me-2 d-none d-lg-inline small">{{ app.user.nickname }}</span>
						<img src="{{ app.user.avatar }}" class="img-profile rounded-circle" alt="avatar" height="35px" width="35px">
					</a>
					<div class="dropdown-menu" aria-labelledby="connectedDropdown">
						<a class="dropdown-item icon" href="{{ path('app_profile_profile') }}">
							<i class="fas fa-user-circle"></i>
							Mon espace perso</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a class="dropdown-item icon" href="{{ path('admin_home') }}">
								<i class="fas fa-tools"></i>
								Espace admin</a>
						{% endif %}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item icon" href="{{ path('app_logout') }}">
							<i class="fa fa-power-off"></i>
							Déconnexion</a>
					</div>
				</div>

			{% else %}
				<!-- Register Dropdown Menu -->
				<div class="dropdown__buttons">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link me-2" href="{{ path('app_register') }}">Inscription</a>
						</li>

						<li class="nav-item dropdown">
							<button class="btn button-primary" id="loginDropdown" data-mdb-toggle="dropdown" aria-expanded="false" tabindex="0">Connexion</button>

							<div class="dropdown-menu login-form px-3 py-4" aria-labelledby="loginDropdown">
								{% include "_partials/_dropdown_login.html.twig" %}
							</div>
						</li>
					</ul>
				</div>
			{% endif %}

		</div>
	</div>

	<!-- Sidenav -->
	<div id="sidenav-1" class="sidenav sidenav-primary" role="navigation">
		<div class="mx-2">
			<a href="javascript:void(0)" class="closebtn" onclick="toggleSidenav()">&times;</a>

			<a class="ripple d-flex justify-content-center py-4 mt-3" href="{{ path('app_home') }}" data-ripple-color="primary">
				<img src="{{ asset('img/logo-place2go-white.svg') }}" width="150" alt="Place 2 Go" draggable="false">
			</a>

			<ul class="navbar-nav">
				<li class="sidenav-item">
					<a class="sidenav-link ripple-surface" href="{{ path('app_category_list') }}" tabindex="1">
						<i class="fas fa-tag pe-3"></i>
						Catégories
					</a>
				</li>
				<li class="sidenav-item dropdown">
					<a class="sidenav-link ripple-surface ripple-surface-primary collapsed" href="#events" data-mdb-toggle="collapse" role="button" tabindex="1">
						<i class="fas fa-calendar pe-3"></i>Sorties
					</a>
					<ul class="sidenav-collapse collapse show" id="events">
						<li class="sidenav-item">
							<a class="sidenav-link ripple-surface" href="{{ path('app_event_list') }}" tabindex="1">Voir les sorties</a>
						</li>
						{% if is_granted('USER_ACCESS', app.user) %}
							<li class="sidenav-item">
								<a class="sidenav-link ripple-surface" href="{{ path('app_event_create') }}" tabindex="1">Ajouter une sortie</a>
							</li>
						{% endif %}
					</ul>
				</li>
			</ul>

			{% if is_granted('ROLE_USER') %}

				<!-- Authenticated User Menu -->
				<ul class="navbar-nav">
					<li class="sidenav-item">
						<a class="sidenav-link ripple-surface" href="{{ path('app_profile_profile') }}" tabindex="1">
							<i class="fas fa-user pe-3"></i>Mon espace perso</a>
					</li>
					<li class="sidenav-item">
						<a class="sidenav-link ripple-surface" href="{{ path('app_logout') }}" tabindex="1">
							<i class="fas fa-power-off pe-3"></i>Déconnexion</a>
					</li>
				</ul>

			{% else %}

				<!-- Register Menu -->
				<ul class="navbar-nav">
					<li class="sidenav-item">
						<a class="sidenav-link ripple-surface" href="{{ path('app_register') }}" tabindex="1">
							<i class="fas fa-tasks pe-3"></i>Inscription</a>
					</li>
					<li class="sidenav-item dropdown">
						<a class="sidenav-link ripple-surface ripple-surface-primary collapsed" href="#login" data-mdb-toggle="collapse" role="button" tabindex="1">
							<i class="fas fa-power-off pe-3"></i>Connexion
						</a>
						<div class="sidenav-collapse collapse px-3 py-4" id="login">
							{% include "_partials/_dropdown_login.html.twig" %}
						</div>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>
