{# Navigation secondaire du dashboard + informations #}
<aside
	class="dashAction --desktop">
	{# Info personnel + Ajout Ami + Edition Compte #}
	<div class="dashAction__item card">
		<div
			class="card-body">
			{# Infos sur l'utilisateur #}
			<div class="dashAction__item-infos">
				<img src="{{ user.avatar ?? app.user.avatar }}" alt="photo de {{ user ?? app.user }}">
				<div class="dashAction__item-infos_details">
					<p class="user__name">{{ user ?? app.user }}</p>
					<p>{{ user.email ?? app.user.email }}</p>
				</div>
			</div>

			{# Edition de l'utilisateur #}
			<p class="dashAction__item-button">
				<a class="btn button-secondary btn-floating" href="{{ path('app_profile_edit') }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Editer profil">
					<i class="fas fa-user-edit"></i>
				</a>
			</p>
		</div>
	</div>

	{# Actions : visualiser historiques des sorties, tchat privé, afficher profil #}
	<div
		class="dashAction__item card">

		{# Bouton qui affiche l'historique #}
		<p class="dashAction__item-action">
			<a class="dashAction__item-action_button" href="{{ path("app_profile_events") }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Historique">
				<i class="far fa-calendar-check"></i>
			</a>
		</p>

		{# Bouton qui affiche le dashboard/profil #}
		<p class="dashAction__item-action">
			<a class="dashAction__item-action_button" href="{{ path("app_profile_profile") }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Dashboard">
				<i class="fas fa-user-circle"></i>
			</a>
		</p>

	</div>

	{# Description de l'utilisateur #}
	<div class="dashAction__item card">
		<div class="card-header">
			<h3>A propos de moi</h3>
		</div>
		<div class="card-body">
			<p class="card-text">{{ user.description ?? app.user.description }}</p>
		</div>
	</div>

	{# Liste des Amis #}
	<div class="dashAction__item card">
		<div class="card-header d-flex justify-content-between">
			<h3>Mes amis</h3>
			<a class="btn button-secondary btn-floating-sm ripple-surface" href="{{ path('app_friend_search') }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Rechercher">
				<i class="fas fa-search-plus"></i>
			</a>
		</div>
		<div class="card-body">
			{{ render(controller('App\\Controller\\FriendshipController::privateFriendsList')) }}
		</div>
	</div>
</aside>

<aside class="dashAction --mobile">

	{# Infos sur l'utilisateur #}
	<div id="infos" class="dashAction__item">
		<img src="{{ user.avatar ?? app.user.avatar }}" alt="photo de {{ user ?? app.user }}">
		<div class="dashAction__item-infos_details">
			<a href="{{ path("app_profile_show", {id:user.id ?? app.user.id}) }}">{{ user ?? app.user }}</a>
		</div>
	</div>

	{# Actions : visualiser historiques des sorties, tchat privé, afficher profil #}
	<div
		class="dashAction__item">

		{# Edition de l'utilisateur #}
		<p class="dashAction__item-action">
			<a class="dashAction__item-action_button" href="{{ path('app_profile_edit') }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Editer profil">
				<i class="fas fa-user-edit"></i>
			</a>
		</p>

		{# Bouton qui affiche l'historique #}
		<p class="dashAction__item-action">
			<a class="dashAction__item-action_button" href="#!" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Historique">
				<i class="far fa-calendar-check"></i>
			</a>
		</p>

		{# Bouton qui affiche le dashboard/profil #}
		<p class="dashAction__item-action">
			<a class="dashAction__item-action_button" href="{{ path("app_profile_profile") }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Dashboard">
				<i class="fas fa-user-friends"></i>
			</a>
		</p>
	</div>
</aside>