{% extends "layout/base.html.twig" %}

{% block title %}Toutes mes sorties
{% endblock %}

{% block body %}
	<div class="container">
		<div
			id="profile" class="mt-6">

			{# Navigation secondaire du dashboard + informations #}
			{% include "profile/_nav_aside.html.twig" %}

			{# Contenu du profil #}
			<div
				class="contentProfile">
				{# Les derniers sorties proposées par l'utilisateur #}
				<section class="contentProfile__lastExits">
					<h2>Mes sorties</h2>
					{# Début carte sortie #}
					{% for event in userEvents %}
						<div class="card mb-3">
							<div class="row g-0">

								<div
									class="contentProfile__lastExits-picture">
									<img src="{{ event.categories[0].picture }}" alt="" class="img-fluid"/>
								</div>

								<div class="contentProfile__lastExits-infos">
									<div class="card-header">
										<h3 class="card-title">{{ event.title }}</h3>
										<p>
											<time datetime="{{ event.eventDate|date("d MMMM Y à HH:mm") }}">{{ event.eventDate|format_date('none', 'd MMMM Y à HH:mm', null, 'gregorian', 'fr') }}</time>
										</p>
									</div>
									<div class="card-body">
										<div class="contentProfile__lastExits-infos_details">
											<p class="card-text">
												<span>Organisé par :</span>
												{{ event.author }}</p>
											{# fonction length de twig pour retourner le nombre de participants #}
											<p class="card-text">
												<span>Nbr part :</span>
												{{ event.attendants|length }}
												/
												{{ event.maxAttendants }}</p>
										</div>
										<div
											class="contentProfile__lastExits-infos_actions">
											{# Bouton pour voir les détails #}
											<a class="btn button-primary btn-floating-sm" href="{{ path("app_event_show", {id:event.id}) }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Détails">
												<i class="far fa-eye"></i>
											</a>

											{# Bouton pour éditer la sortie #}
											<a class="btn button-secondary btn-floating-sm" href="{{ path("app_event_edit", {id:event.id}) }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Editer sortie">
												<i class="fas fa-pencil-alt"></i>
											</a>

											{# Bouton pour supprimer la sortie #}
											<a class="btn btn-danger btn-floating-sm" href="{{ path("app_event_delete", {id:event.id}) }}" role="button" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Supprimer">
												<i class="fas fa-trash-alt"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<div>Aucune donnée à afficher pour le moment.</div>	
					{% endfor %}

					{# Fin carte sortie #}
				</section>
			</div>
		</div>
	</div>
{% endblock %}
