{% extends "layout/base.html.twig" %}

{% block title %}
	{{ user.nickname }}
{% endblock %}

{% block body %}
	<div
		id="profile">

		{# Contenu du profil #}
		<div class="contentProfile --public">

			<section class="contentProfile__infos card">
				<div class="contentProfile__infos-avatar">
					<img src="{{ user.avatar }}" alt="{{ user }}">
				</div>
				<div class="contentProfile__infos-details card-body">
					<h2>{{ user }}</h2>
					<p>
						<span>Email :
						</span>
						{{ user.email }}</p>
					<p>
						<span>Anniversaire :
						</span>
						<time datetime="{{ user.birthday|date("d/m/Y") }}">{{ user.birthday|date("d/m/Y") }}</time>
					</p>
					<div class="d-flex justify-content-between">
						{# user action #}
						{% if is_granted('USER_ACCESS', app.user) and app.user.id != user.id %}
							{# ajouter aux amis #}
							{% if friendship is not null and friendship is defined %}
								<button type="button" class="contentProfile__infos-buttonText btn button-secondary" disabled>Vous êtes déjà amis</button>
							{% else %}
								<a href="{{ path('app_friend_add', {id: user.id}) }}" type="button" class="contentProfile__infos-buttonText btn button-primary">Ajouter à ses amis</a>
							{% endif %}
							{# signaler l'utilisateur #}
							<a href="{{ path('app_report_user', {id:user.id}) }}" type="button" class="contentProfile__infos-buttonText btn button-secondary btn-floating-sm ms-3">
								<i class="fas fa-exclamation"></i>
							</a>
						{% endif %}
					</div>
				</div>
			</section>

			<section class="contentProfile__description">
				<h2>A propos de moi</h2>
				<p class="card">
					{% if user.description %}
						{{ user.description }}
					{% else %}
						Aucune description pour le moment !
					{% endif %}
				</p>
			</section>

			<section class="contentProfile__friends">
				<h2>Mes Amis</h2>
				<div class="contentProfile__friends-list">
					{{ render(controller(
					'App\\Controller\\FriendshipController::friendsList',
					{ id: user.id }
				)) }}
				</div>
			</section>

		</div>

	</div>

{% endblock %}
