{% extends "admin/layout/base.html.twig" %}

{% block menu_user 'active' %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Utilisateurs</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {% if user.isActive %}
        <a href="{{ path('admin_user_desactive', {id: user.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i
            class="fas fa-ban fa-sm text-white-50"></i> Bloquer</a>
        {% else %}
        <a href="{{ path('admin_user_active', {id: user.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i
            class="fas fa-ban fa-sm text-white-50"></i> Activer</a>
        {% endif %}
        <a href="{{ path('admin_user_delete', {id: user.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
            class="fas fa-trash fa-sm text-white-50"></i> Supprimer</a>
    </div>
</div>

<!-- User Details Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Détails de l'utilisateur</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="user-details">

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <h2>{{ user.firstname }} {{ user.lastname }} ({{ user.nickname }})</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>Info</h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Etat</th>
                                        <td>
                                        {% if user.isActive %}
                                        <span class="badge bg-success">Activé</span>
                                        {% else %}
                                        <span class="badge bg-danger">Désactivé</span>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ville</th>
                                        <td>{{ user.city }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Tel</th>
                                        <td>{{ user.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date naissance</th>
                                        <td>{{ user.birthday|date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Inscription</th>
                                        <td>{{ user.createdAt|date('d/m/Y H:i') }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3>Description</h3>
                            {{ user.description }}
                        </div>
                        <div class="col-md-6 text-center">
                            {% if 'http' in user.avatar %}
                            <img src="{{ user.avatar }}" width="300" class="img-fluid">
                            {% else %}
                            <img src="{{ asset('uploads/avatar/') ~ user.avatar ?? 'default-profile.svg' }}" class="img-fluid">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- User Events Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Les sorties organisées</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="user-last-events">

                    <div class="row">
                        <div class="col-md-12">                  
                            {{ include("admin/event/_event_list.html.twig", {'events': userLastEvents }) }}                      
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- User Exits Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Les sorties participées</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="user-last-exists">

                    <div class="row">
                        <div class="col-md-12">       
                            {{ include("admin/event/_event_list.html.twig", {'events': userLastExits }) }}        
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- User Events Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ses commentaires</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="user-comments">

                    <div class="row">
                        <div class="col-md-12">
                            Liste des commentaires de cet utilisateur
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}