{{ form_start( form, { attr: {class: 'create__form'} } ) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.event_date) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label required">Adresse *</label>
            <div id="geocoder" class="geocoder"></div>
        </div>
        <div class="col-md-6">
            {{ form_row(form.maxAttendants) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.description) }}
            {{ form_row(form.categories)  }}
        </div>
        <div class="col-md-6">
            <div id="map"></div>
        </div>
    </div>

    <div class="contentProfile__buttons my-3">
        <a class="--back contentProfile__infos-buttonText btn btn-secondary" href="{{ path('app_event_list') }}">
            <i class="fa fa-angle-left"></i>Annuler</a>
        <button type="submit" class="btn button-primary">{{ button_label ?? 'Créer la sortie' }}</button>
    </div>

{{ form_end(form) }}
