{{ form_start(form)}}

		<div class="home-search">	
			{{ form_widget(form.q, { attr: {'class': 'form-control-lg me-5'} }) }}

            <button class="btn btn-floating" type="submit" data-mdb-ripple-color="dark">
                <i class="fas fa-search"></i>
            </button>
		</div>

		{% if app.request.get('_route') == 'app_home' %}
			{{ form_widget(form.categories, {'attr': {'style': 'display:none'}})}}
			{{ form_errors(form.categories) }}
		{% else %}
			{{ form_widget(form.categories)}}
			{{ form_errors(form.categories) }}
		{% endif %}

{{ form_end(form)}}