{{ form_start(form, {'attr': {class: 'search__form'}}) }}

	<div class="search__form_input">
		{{ form_widget(form.q) }}
		<button type="submit" class="btn button-primary ms-3 px-3" type="button">Rechercher</button>
	</div>

	{% if app.request.get('_route') == 'app_home' %}
		{{ form_widget(form.categories, {'attr': {'style': 'display:none'}})}}
		{{ form_errors(form.categories) }}
	{% else %}
		{{ form_widget(form.categories)}}
		{{ form_errors(form.categories) }}
	{% endif %}

{{ form_end(form)}}
