{% extends "admin/layout/base.html.twig" %}

{% block menu_event 'active' %}

{% block title 'Sorties' %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sorties</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Filter -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Filtres</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="filter-area">
                    <p>Tous les champs de filtres ici</p>
                    {{ knp_pagination_filter(events, {'e.title': 'Title'}) }}
                    {# {{ form_start(form, {'attr': {class: 'search__form'}}) }}

                        <div class="search__form_input">
                            {{ form_widget(form.q) }}
                            <button type="submit" class="btn button-primary ms-3 px-3" type="button">Rechercher</button>
                        </div>

                        {{ form_widget(form.categories)}}
                        {{ form_errors(form.categories) }}
                        
                    {{ form_end(form)}} #}
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Content Row -->
<div class="row">

    <!-- List all items -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Liste des sorties</h6>            
            </div>
            <!-- Card Body -->
            <div class="card-body">    
                {{ include("admin/event/_event_list.html.twig", {'events': events, 'pagination': true }) }}       
            </div>
        </div>
    </div>

</div>

{% endblock %}
