{% extends "admin/layout/base.html.twig" %}

{% block menu_event 'active' %}

{% block title %}{{ event.title }}{% endblock %}

{% block stylesheets %}

{{ parent() }}

{# MAPBOX #}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">

<style>
    #map {
        width: 100%;
        height: 100%;
        min-height: 350px;
    }

    @media  screen and (max-width: 768px) {
        #map {
            overflow: hidden;
        }
    }
</style>

{% endblock %}


{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sorties</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{ path('admin_event_edit', {id: event.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-trash fa-sm text-white-50"></i> Modifier</a>
        {% if event.isActive %}
        <a href="{{ path('admin_event_desactive', {id: event.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i
            class="fas fa-ban fa-sm text-white-50"></i> Bloquer</a>
        {% else %}
        <a href="{{ path('admin_event_active', {id: event.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i
            class="fas fa-ban fa-sm text-white-50"></i> Activer</a>
        {% endif %}
        <a href="{{ path('admin_event_delete', {id: event.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
            class="fas fa-trash fa-sm text-white-50"></i> Supprimer</a>
    </div>
</div>

<!-- User Details Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Détails de la sortie</h6>           
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="event-details">

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <h2>{{ event.title }}</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>Info</h3>
                            <table class="table table-hover">
                                <tbody>
                                     <tr>
                                        <th>Etat</th>
                                        <td>
                                            {% if event.isActive %}
                                            <span class="badge bg-success">Activée</span>
                                            {% else %}
                                            <span class="badge bg-danger">Désactivée</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Organisateur</th>
                                        <td>{{ event.author }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{ event.address }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date prévue</th>
                                        <td>{{ event.eventDate|date('d/m/Y H:i') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nbre participants</th>
                                        <td>{{ event.attendants|length }}/{{ event.maxAttendants }}</td>
                                    </tr>
                                    <tr>
                                        <th>Categories</th>
                                        <td>{{ event.categories|join(',') }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3>Description</h3>
                            {{ event.description }}
                        </div>
                        <div class="col-md-6">
                            <div id='map' class="w-100 h-100"></div>
                            {# MAPBOX #}
                            <script>
                                mapboxgl.accessToken = 'pk.eyJ1Ijoia2V5Z2VuOSIsImEiOiJja3NrNWh6MGQwczZnMnBsNHhqYnRtMDUxIn0.dq2MMs1vSwGk8nMIj9NTxQ';
                                let map = new mapboxgl.Map({
                                    container: 'map', // Container ID
                                    style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
                                    center: [{{ event.lat|raw }}, {{ event.lon|raw }}], // Starting position [lng, lat]
                                    zoom: 15.5, // Starting zoom level
                                });
                                // Create a default Marker and add it to the map.
                                const marker1 = new mapboxgl.Marker({color: 'red'}).setLngLat([{{ event.lat }}, {{ event.lon }}]).addTo(map);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Event Attendants Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Les participants inscrits</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="event-attendants">

                    <div class="row">
                        <div class="col-md-12">
                            {{ include("admin/user/_user_list.html.twig", {'users': eventUsers }) }} 
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Event Comments Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Les commentaires</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="user-comments">

                    <div class="row">
                        <div class="col-md-12">
                            {{ include("admin/comment/_comment_list.html.twig", {'comments': event.comments }) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}