{% extends "layout/base.html.twig" %}

{% block title 'Catégories' %}

{% block body %}

	<div id="categoryCarousel" class="carousel slide carousel-fade" data-mdb-touch="true" data-mdb-ride="carousel">

		<div class="carousel-inner">
			{% for category in categories %}
				<div class="carousel-item {% if loop.first %}active{% endif %}">
					<img src="{{ category.picture }}" class="d-block w-100 carousel__img img-fluid" alt="{{ category.name }}"/>
					<div class="carousel-caption d-none d-md-block">
						<h5 class="carousel-title">{{ category.name }}</h5>
					</div>
				</div>
			{% endfor %}
		</div>

		<button class="carousel-control-prev" type="button" data-mdb-target="#categoryCarousel" data-mdb-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>

		<button class="carousel-control-next" type="button" data-mdb-target="#categoryCarousel" data-mdb-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="container">

		<section id="category">

            <h1 class="home__title">Catégories de nos sorties</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 g-lg-5">
				
                {% for category in categories %}
                    <div class="col">
                        <div class="bg-image hover-zoom category__card">
                            <img src="{{ category.picture }}" class="card-img-top category__card_img" alt="{{ category.name }}"/>
                            <a href="events?q=&categories%5B%5D={{ category.id }}" class="card-img-overlay p-0">
                                <h5 class="card-title category__card_title">
									{{ category.name }}
								</h5>
                            </a>
                        </div>
                    </div>
                {% endfor %}

			</div>

		</section>

	</div>
{% endblock %}
