<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_home') }}">
        <div class="sidebar-brand-text mx-3">
            <img src="{{ asset('img/logo-place2go-white.svg') }}" class="img-fluid logo" width="150" alt="Place 2 Go">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% block menu_dashboard %}{% endblock %}">
        <a class="nav-link" href="{{ path('admin_home') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Events Collapse Menu -->
    <li class="nav-item {% block menu_event %}{% endblock %}">
        <a class="nav-link collapsed" href="#" data-mdb-toggle="collapse" data-mdb-target="#collapseEvents"
            aria-expanded="true" aria-controls="collapseEvents">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Sorties</span>
        </a>
        <div id="collapseEvents" class="collapse" aria-labelledby="headingEvents" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sorties</h6>
                <a class="collapse-item" href="{{ path('admin_event_list') }}">Toutes les sorties</a>
                <a class="collapse-item" href="{{ path('admin_event_create') }}">Ajouter une sortie</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Categories Collapse Menu -->
    <li class="nav-item {% block menu_category %}{% endblock %}">
        <a class="nav-link collapsed" href="#" data-mdb-toggle="collapse" data-mdb-target="#collapseCategories"
            aria-expanded="false" aria-controls="collapseCategories">
            <i class="fas fa-fw fa-tag"></i>
            <span>Categories</span>
        </a>
        <div id="collapseCategories" class="collapse" aria-labelledby="headingCategories"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Categories</h6>
                <a class="collapse-item" href="{{ path('admin_category_list') }}">Toutes les catégories</a>
                <a class="collapse-item" href="{{ path('admin_category_create') }}">Ajouter une catégorie</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Users Collapse Menu -->
    <li class="nav-item {% block menu_user %}{% endblock %}">
        <a class="nav-link collapsed" href="#" data-mdb-toggle="collapse" data-mdb-target="#collapseUsers"
            aria-expanded="false" aria-controls="collapseUsers">
            <i class="fas fa-fw fa-users"></i>
            <span>Utilisateurs</span>
        </a>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Utilisateurs</h6>
                <a class="collapse-item" href="{{ path('admin_user_list') }}">Tous les utilisateurs</a>
                <a class="collapse-item" href="{{ path('admin_user_create') }}">Ajouter un utilisateur</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Comments Menu -->
    <li class="nav-item {% block menu_comment %}{% endblock %}">
        <a class="nav-link" href="{{ path('admin_comment_list') }}"><i class="fas fa-fw fa-comments"></i><span>Commentaires</span></a>
    </li>

    <!-- Nav Item - Signalments Menu -->
		<li class="nav-item {% block menu_report %}{% endblock %}">
        <a class="nav-link collapsed" href="#" data-mdb-toggle="collapse" data-mdb-target="#collapseReports"
            aria-expanded="true" aria-controls="collapseReports">
            <i class="fas fa-fw fa-bullhorn"></i>
            <span>Signalements</span>
        </a>
        <div id="collapseReports" class="collapse" aria-labelledby="headingReports" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Signalements</h6>
                <a class="collapse-item" href="{{ path('admin_report_list') }}">Signalements en Cours</a>
                <a class="collapse-item" href="#">Signalements Traités</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Nav Item - Collaborators Collapse Menu -->
    <li class="nav-item {% block menu_collaborator %}{% endblock %}">
        <a class="nav-link collapsed" href="#" data-mdb-toggle="collapse" data-mdb-target="#collapseCollaborators"
            aria-expanded="true" aria-controls="collapseCollaborators">
            <i class="fas fa-fw fa-users"></i>
            <span>Collaborateurs</span>
        </a>
        <div id="collapseCollaborators" class="collapse" aria-labelledby="headingCollaborators"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Collaborateurs</h6>
                <a class="collapse-item" href="{{ path('admin_collaborator_list') }}">Tous les collaborateurs</a>
                <a class="collapse-item" href="{{ path('admin_collaborator_create') }}">Ajouter un collaborateur</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>